﻿body {
	padding-top: 60px;
	
}

table {
    cursor:pointer;
}

.shadowbox {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

.launcherselector:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.24);
}

.imageshadow:hover {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.24);
}

.event-success {
    background-color: none;
    border: 3px solid #18bc9c;
}

.event-warning {
    background-color: none;
    border: 3px solid #f39c12;    
}

.event-danger {
    background-color: none;
    border: 3px solid #e74c3c;    
}

.gridbox {
    margin-top:1px;
    position: absolute;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}

.reportnavbox:hover {
    background-color: #18bc9c;
    color:white;
}

.divider {
    border-top: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}