﻿<div class="container">
    <div class="shadowbox">
        <h2>Angular Data Input Demo</h2>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" ng-model="inputdata.name" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Asset Number</label>
                    <input class="form-control" type="number" ng-model="inputdata.assetnumber" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Assigned Date</label>
                    <input class="form-control" type="date" ng-model="inputdata.assigneddate" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button class="btn btn-success btn-block" style="margin-top:30px;" ng-click="savedata();">{{inputdata.uid ? 'Update' : 'Save'}}</button>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button class="btn btn-warning btn-block" style="margin-top:30px;" ng-click="clearinput();">Clear</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>2 Way Binding Live</h4>
                <p>Name: {{inputdata.name}}</p>
                <p>Asset Number: {{inputdata.assetnumber}}</p>
                <p>Assigned Date: {{inputdata.assigneddate | date : 'M/d/yyyy'}}</p>
            </div>
        </div>

        <div style="max-height:600px; overflow-y:auto; overflow-x:hidden;">
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:50px;"></th>
                                <th>ID#</th>
                                <th>Name</th>
                                <th>Asset #</th>
                                <th>Assigned Date</th>
                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td>
                                    <button class="btn btn-sm btn-warning" ng-click="selectassetassignment(item);" title="Edit This Assignment"><i class="fa fa-edit"></i></button>
                                </td>
                                <td>{{$index + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.assetnumber}}</td>
                                <td>{{item.assigneddate | date : 'M/d/yyyy'}}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteitem(item);" title="Delete This Assignment"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>